body {
  background-color: white;
  background-image: url(./images/main_bd_gaming.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #72BA57;
  font-size: 48px;
  font-weight: 900;
  background: rgb(28, 49, 20);
  width: 400px;
  padding: 20px 50px;
  margin: 100px auto;
  box-shadow: 0px 0px 10px 10px rgb(35 61 25 / 30%);
}

.main {
  display: flex;
  justify-content: space-evenly;
  min-height: 700px;
  margin-top: 100px;
  margin-bottom: 200px;
  padding: 10px 50px;
}

.show-scores-head {
  background: rgb(201, 121, 0, 0.2);
  padding: 19px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.show-scores-head h3 {
  margin: 0px;
}

.show-scores,
.add-scores {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.add-scores h3 {
  color: red;
  background: rgb(95, 7, 18);
  padding: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 5px rgb(95 7 18 / 10%);
}

#refresh {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 2px solid #744600;
  cursor: pointer;
  padding: 5px 15px;
  background: #da8400;
  color: white;
  box-shadow: 0px 0px 2px 2px rgba(65, 39, 0, 0.3);
  transition: all 0.3s;
}

#refresh:hover {
  background: #b86f00;
}

.scores {
  width: 300px;
  border: 2px solid #ffeac9;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  border-collapse: collapse;
}

.scores tr td {
  padding: 3px;
}

.scores tr:nth-child(odd) {
  background-color: #ffdca7;
}

.scores tr:nth-child(even) {
  background-color: #fff0da;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-content: end;
  flex-wrap: wrap-reverse;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

#submit {
  width: 100px;
  float: right;
  background: rgb(95, 7, 18);
  color: white;
  border: none;
  transition: all 0.3s;
}

#submit:hover {
  background: rgb(63, 5, 12);
}

.show-scores h3 {
  color: #ffad30;
}

.add-scores form input {
  background: rgb(250, 192, 199);
  border: none;
  color: red;
  border: 1px solid rgb(247, 144, 157);
  outline: none;
}

#score-add-success {
  background: green;
  color: white;
  text-align: center;
}
